@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
:root {
    --primary-color: #ffcc00;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Toastify__toast-body {
    font-size: 1.4rem;
    font-family: "Quicksand", sans-serif;
}
html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: "Quicksand", sans-serif;
    line-height: 1.2;
    -webkit-text-stroke: 0.7px;
}
h1 {
    font-size: 4rem;
    font-weight: bold;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
    font-weight: bold;
}
h3 {
    font-size: 2.4rem;
}
p {
    font-size: 1.6rem;
}

label {
    font-size: 1.6rem;
}
button {
    font-size: 1.4rem;
}
.btn {
    padding: 1.2rem 2rem;
    border-radius: 0.4rem;
    background-color: transparent;
    border: solid black 0.2rem;
}
.btn-primary {
    border: solid rgb(132, 0, 255) 0.2rem;
}
.btn-secondary {
    border: solid rgb(255, 166, 0) 0.2rem;
}

/* FORM */
.form-container {
    min-width: 60rem;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    color: white;
    margin: 0 auto;
    padding-top: 4rem;
}

.form-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 4rem;
    row-gap: 1.5rem;
    width: 100%;
    padding: 0 4rem;
    margin: 2rem auto;
}

@media only screen and (max-width: 58em) {
    html {
        font-size: 55%;
    }
}

@media only screen and (max-width: 49em) {
    html {
        font-size: 50%;
    }
}

/* @media only screen and (max-width: 45em) {
    html {
        font-size: 40%;
    }
} */
/* 
@media only screen and (max-width: 34em) {
    html {
        font-size: 30%;
    }
} */

@media only screen and (max-width: 30em) {
    html {
        font-size: 35%;
    }
}

@media only screen and (max-width: 20em) {
    html {
        font-size: 25%;
    }
}
