.timer {
    max-width: 80rem;
    min-width: 60rem;
    background-color: black;
    min-height: 20rem;
    max-height: 80rem;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 4rem;
}
.timerFullScreen {
    min-width: 100vw;
}

.timerFullScreen h2 {
    font-size: 6rem;
}

.timerFullScreen div div h1 {
    font-size: 25rem;
}

.timerFullScreen #timerMotivation p {
    font-size: 2rem;
}

.completedMessage {
    width: 60rem;
    background-color: rgb(0, 0, 0);
    min-height: 50rem;
    margin: auto;
    color: white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.completedMessage div p {
    font-size: 1.8rem;
}

.timer div h1 {
    font-size: 12rem;
}

.PlaylistOptions {
    color: black;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
}

.PlaylistOptions option {
    font-size: 1.2rem;
    font-weight: 600;
    height: 4rem;
}
